@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

svg {
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 12px;
}
svg use {
  width: 100%;
  fill: rgb(255, 255, 255);
}

#credit-card {
  background-color: rgb(2, 90, 148);
}
#restaurant {
  background-color: rgb(240, 144, 0);
}
#school {
  background-color: rgb(100, 0, 231);
}
#account-balance {
  background-color: rgb(80, 0, 100);
}
#redeem {
  background-color: rgb(0, 240, 60);
}
#add {
  background-color: rgb(0, 0, 0);
}
#health {
  background-color: rgb(0, 180, 0);
}
#explore {
  background-color: rgb(0, 140, 255);
}
#restaurant {
  background-color: rgb(180, 0, 135);
}
#transportation {
  background-color: rgb(255, 196, 0);
}
#local-mall {
  background-color: rgb(240, 144, 0);
}
#smart-display {
  background-color: rgb(114, 0, 180);
}
#savings {
  background-color: rgb(3, 0, 180);
}

#shopping-cart {
  background-color: rgb(243, 0, 0);
}
